.bg-primary    { background-color: #552380 !important; color: #fff; }
.bg-success    { background-color: #91c149 !important; color: #000; }
.bg-warning    { background-color: #ffd23f !important; color: #000; }
.bg-danger     { background-color: #ff92c2 !important; color: #000; }
.bg-info       { background-color: #0b7a75 !important; color: #fff; }
.bg-light      { background-color: #fdf6f0 !important; color: #000; }
.bg-dark       { background-color: #1a1a1a !important; color: #fff; }

.text-primary    { color: #552380 !important; }
.text-success    { color: #91c149 !important; }
.text-warning    { color: #ffd23f !important; }
.text-danger     { color: #ff92c2 !important; }
.text-info       { color: #0b7a75 !important; }
.text-light      { color: #fdf6f0 !important; }
.text-dark       { color: #1a1a1a !important; }